.contentSection {
  background: #1e1e1e;
  color: #fff;
  border-radius: 10px;
  padding: 16px;
  font-family: monospace;
  position: relative;
}

.contentSectionDelete {
  position: absolute;
  right: 10px;
  top: 10px;
}

#textarea {
  width: 100%;
  min-height: 120px;
  background: #252526;
  color: #fff;
  /* border: none; */
  /* outline: none; */
  /* resize: none; */
  border-radius: 8px;
  padding: 12px;
  /* font-family: monospace; */
  /* font-size: 14px; */
}

.saveBtn,
.editBtn {
  margin-top: 10px;
  background: #007acc;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
}

.saveBtn:hover,
.editBtn:hover {
  background: #005a9e;
}

.result {
  white-space: pre-wrap;
  line-height: 1.4;
}

/* Подсветка синтаксиса */
.class {
  color: #f6ff00;
  font-weight: 500;
}

.keyword {
  color: #569cd6;
  font-weight: 500;
}

.operator {
  color: #ce78b6;
}

.type {
  color: #4ec9b0;
}

.string {
  color: #ce9178;
}

.comment {
  color: #43aa43;
}
