@media screen and (min-width: 1200px) {
    .section {
        grid-template-columns: 20% 80%;
    }
}

@media screen and (max-width: 1200px) {
    .section-content {
        padding-bottom: 8rem;
    }

    .section {
        grid-template-columns: 0% 100%;
    }
}

@media screen and (min-width: 0px) and (max-width: 500px) {
    h1 {
        font-size: 1.5rem;
        transition: 0.4s ease;
    }

    h2 {
        font-size: 1.5rem;
        transition: 0.4s ease;
    }

    p {
        font-size: 1rem;
        transition: 0.4s ease;
    }

    .section-content {
        padding: 2rem 0.5rem;
        padding-bottom: 5rem;
    }
}