@charset "utf-8";

.sidebar {
    width: 20%;
    height: 100vh;
    position: fixed;
    background-color: var(--background-2);
}

.sidebar-logo {
    width: 75%;
    margin: 1rem auto;
}

.sidebar-logo img {
    width: 100%;
}

.sidebar-nav {
    width: 100%;
}

.sidebar-section {
    background-color: rgba(0, 0, 0, 0.2);
}

.sidebar-section svg {
    color: #fff;
    transform: scale(1.25);
    margin-right: 0.85rem;
}

.sidebar-section a {
    color: #fff;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 1rem;
    transition: all 0.3s ease;
}

.sidebar-section a:hover {
    background-color: rgba(27, 70, 29, 0.2);
}

.sidebar-section a.active {
    background-color: rgba(27, 70, 29, 0.5);
}

.sidebar-section a.active svg {
    color: var(--color-4);
}