@charset "utf-8";

:root {
    --color-1: #fff;
    --color-2: #131313;
    --color-3: #b8b8b8;
    --color-4: #87f66e;
    --color-5: #70e855;
    --color-red: #e85555;

    --background-1: #000;
    --background-2: #131313;
    --background-3: linear-gradient(90deg, #f9f9f9, #e7ffe2);
    --background-4: #fff;
    --background-5: #f1f1f1;

    --border-1: 1px solid var(--color-3);
    --border-radius-1: 10px;
    --border-radius-2: 30px;

    --box-shadow-1: 0 0 15px rgba(0, 0, 0, 0.1)
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

body {
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

input, textarea {
    color: var(--color-2);
    padding: 1rem;
    font-size: 1.25rem;
    font-family: "Roboto", sans-serif;
    border: var(--border-1);
    border-radius: var(--border-radius-1);
}

.input-section {
    position: relative;
}

.input-section.search input {
    padding: 0.75rem;
    padding-left: 2.2rem;
    border-radius: var(--border-radius-2);
}

.input-section.search svg {
    color: var(--color-2);
    position: absolute;
    top: 1rem;
    left: 0.75rem;
    transform: scale(1.25);
}

button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.75rem;
    font-size: 1.25rem;
    border-radius: var(--border-radius-1);
}

button svg {
    transform: scale(1.3);
    margin-right: 0.5rem;
}

a {
    text-decoration: none;
    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
}

h1 {
    color: var(--color-2);
    font-size: 2.5rem;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    transition: 0.4s ease;
}

h2 {
    color: var(--color-2);
    font-size: 1.35rem;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    transition: 0.4s ease;
}

p {
    color: var(--color-2);
    font-size: 1.25rem;
    font-family: "Roboto", sans-serif;
    transition: 0.4s ease;
}

.section {
    width: 100vw;
    min-height: 100vh;
    display: grid;
    position: relative;
    grid-template-columns: 20% 80%;
}

.section-body {
    width: 100%;
    min-height: 100vh;
    grid-column: 2;
    display: flex;
    justify-content: center;
    background: var(--background-3);
}

.section-content {
    position: relative;
    width: 85%;
    min-height: 100vh;
    padding: 1.5rem 3rem;
    background: var(--background-4);
    box-shadow: var(--box-shadow-1);
}

.topbar {
    width: 100%;
    display: grid;
    gap: 1rem;
    margin-bottom: 1rem;
    padding: 1rem 0;
    border-bottom: var(--border-1);
}