.fill-button {
    position: relative;
    overflow: hidden;
    border-radius: 100px;
    color: #000;
    cursor: pointer;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 5px 10px #ccc;
    font-size: 1.75rem;
    font-family: "Roboto", sans-serif;
    transition: all 0.4s ease;
}

.fill-back {
    font-size: 1.35rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fill-button::before {
    content: "";
    position: absolute;
    top: var(--y);
    left: var(--x);
    width: 0;
    height: 0;
    background: linear-gradient(135deg, #83f687, #7cf5f1);
    border-radius: 15px;
    transform: translate(-50%, -50%);
    transition: width 0.6s ease, height 0.6s ease, top 0.2s, left 0.2s;
    z-index: 0;
}

.fill-back::before {
    background: linear-gradient(135deg, #fc5353, #fb3a3a);
}

.fill-button:hover {
    color: #fff;
    box-shadow: none;
    transition: all 0.4s ease;
}

.fill-button:hover::before {
    width: 400%;
    height: 400%;
}

.fill-button > span {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
