@font-face {
    font-family: "Roboto";
    src: url("../assets/fonts/Roboto-Light.ttf");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("../assets/fonts/Roboto-Regular.ttf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("../assets/fonts/Roboto-SemiBold.ttf");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "LibertinusSans";
    src: url("../assets/fonts/LibertinusSans-Regular.ttf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "LibertinusSans";
    src: url("../assets/fonts/LibertinusSans-Bold.ttf");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}