@charset "utf-8";

.auth {
    width: 100vw;
    height: 100vh;
    display: grid;
    position: relative;
    grid-template-columns: 27.5% 72.5%;
}

.auth-sidebar {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    background-color: var(--background-2);
    z-index: 2;
}

.auth-form {
    width: 75%;
    color: var(--color-1);
    display: grid;
    gap: 1.5rem;
    justify-items: center;
    grid-auto-rows: auto;
}

.auth-form h1 {
    color: var(--color-1);
    font-size: 2rem;
    font-weight: 700;
}

.auth-form .input-section {
    width: 100%;
    position: relative;
}

.auth-form .input-section svg {
    position: absolute;
    top: 1.25rem;
    left: 1rem;
    transform: scale(1.3);
}

.auth-form input {
    width: 100%;
    color: #fff;
    padding-left: 2.5rem;
    border: 2px solid rgba(0, 0, 0, 0.5);
    background-color: inherit;
}

.auth-form button {
    width: 100%;
    color: var(--color-4);
    border: 2px solid var(--color-4);
    background-color: inherit;
}

.auth-form p {
    color: var(--color-3);
}

.auth-form a {
    color: var(--color-3);
    font-size: 1.25rem;
    font-family: "LibertinusSans", sans-serif;
    transition: all 0.3s ease;
}

.auth-form a:hover {
    color: var(--color-4);
}

.auth-footage {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.auth-footage .auth-overlay {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.auth-overlay img {
    pointer-events: none;
    width: 70%;
    height: 100%;
    object-fit: contain;
}

.auth-footage video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}